.contact-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 1rem;
  min-height: 50vh;
  }
  
  .contact-container h1 {
    margin-bottom: 1rem;
  }
  
  .contact-container p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  