/* src/pages/OrderHistory.css */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.order-history-container {
    width: 90%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  .order-history-container h2 {
    text-align: center;
  }
  
  .order-history-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-history-container li {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  .footer {
    margin-top: auto;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem
  }